*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 98.8vw;
    background-color:#0E0E0E;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 18px;
    color: rgb(242, 242, 242);
    font-weight: bolder;
    padding-bottom: 30px;
    font-family: sans-serif;
    padding-left: 25%;
}

.table-container{
    height: 75vh;
    width: 50vw;
    background: #282b35;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 40px;
    margin-top: 5%;
    padding-left: 60px;
    padding-top: 20px;

}

table{
    text-align: start;
    /* border: 5px solid black; */
    padding: 20px;
    width: 48vw;
    height: 50vh;
    border-radius: 20px;
}
th{
    border: 1px solid rgb(203, 201, 201);
    padding: 8px;
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(192, 192, 192);
    font-weight: bolder;
}

td{
 border: 1px solid rgb(203, 201, 201);
 padding: 10px;
 border-collapse: collapse;
 font-family: sans-serif;
font-size: 12px;
color: rgb(185, 183, 183);
font-weight: bolder;

}

tr #color1,#color2,#color3{
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
}

tr button{
    padding: 6px 20px ;
    border: none;
    background-color: #db344a;
    color: white;
    font-size: 12px;
    font-family: serif;
    cursor: pointer;
    border-radius: 20px;
}
table td{
    width: 400px;

}
th {
    color: aliceblue;
}

td:hover{
 transform: scale(1.1);
 background: white;
color: #0E0E0E;
transition: 1s;
}
th:hover{
 transform: scale(1.1);
 /* background: white;
color: #0E0E0E; */
transition: 1s;
}
td:hover{
 transform: scale(1.1);
 background: white;
color: #0E0E0E;
transition: 1s;
}

.change{
    color: #FF9B00;
    font-size: 26px;
}
#color1{
color: #FF9B00;
font-size: 24px;
}
#color2{
color: #EA3C43;
font-size: 24px;
}
#color3{
color: #07B8C7;
font-size: 24px;
}
#bg1{
background-color: #FF9B00;
}
#bg2{
background-color: #EA3C43;
}
#bg3{
background-color: #07B8C7;
}

